{% extends 'base.html' %}
{% block title %}Login - ClosetVerse{% endblock %}
{% block extra_css %}

{% endblock %}
{% block content %}
<div class="container d-flex auth-page-container justify-content-center align-items-center"  style="min-height: 100vh;">
    <div class="auth-card">
        <h2>Login</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="form-errors">{{ form.non_field_errors }}</div>
            {% endif %}
            <div class="mb-3">
                <label for="id_username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="id_username" required value="{{ form.username.value|default_if_none:'' }}">
                {% if form.username.errors %}
                    <div class="form-errors">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="id_password" required>
                {% if form.password.errors %}
                    <div class="form-errors">{{ form.password.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="{% url 'store:register' %}" class="btn btn-link">Don't have an account? Sign Up</a>
        </form>
    </div>
</div>
{% endblock %}